body{
    font-family: Verdana;
    background-color: rgb(41, 46, 46);
    color: white;
    padding: 20px;
    line-height: 1.6;
}

h1{
    color: aqua;
    font-size: 32px;
    margin-bottom: 30px;
    border-bottom: 3px solid aqua;
}

h1{
    color: aqua;
    font-size: 24px;
    margin-bottom: 30px;
    margin-top: 30px;
}

.caixa{
    width: 530px;
    background-color: rgb(41, 46, 46);
    padding: 30px;
    text-align: center;
    border: 2px solid aqua;
    border-radius: 8px;
    margin-bottom: 20px;
    transition: all 0.3s ease;
    cursor: pointer;
}
/* pseudo classes - adiciona funcionalidades ao seletores */

/* hover */
.caixa:hover{
    background-color: aqua;
    color: rgb(41, 46, 46);
    transform: scale(1.05);
    box-shadow: 8px 8px 16px rgba(140, 201, 228, 0.5);
}
.btn-download{
    background-color: aqua;
    color: black;
    padding: 15px 30px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}
/* padding: 15px(espaçamento vertical) 30px(espaçamento horizontal) */

.btn-download:hover{
    background-color: rgb(6, 9, 10);
    color: aqua;
}

/* :active */
.btn-download:active{
    background-color: antiquewhite;
    transform: scale(0.9px);
    color: rgb(41, 46, 46);
}

/* :focus */
input{
    /* largura máxima do elemento */
    max-width: 400px;
    padding: 12px;
    border: 2px solid aqua;
    border-radius: 5px;
    background-color: aqua;
    color: rgb(0, 0, 0);
    font-size: 16px;
}

input:focus{
   outline: none;
   border-color: aqua;
   box-shadow: 0 0 10px rgba(0,255,255);
   background-color: black;

}